#waybar.top {
  background: none;
}
#waybar.top > box.horizontal {
  background: #11111b;
  box-shadow: 0 0 4pt #11111b;
  border-radius: 12pt;
  margin: 6pt;
  padding: 2pt;
}

#custom-rofi {
  margin-left: 7pt;
  padding-right: 3pt;
  font-size: 12pt;
}

#workspaces {
  margin-left: 12pt;
}
#workspaces button {
  color: #585b70;
}
#workspaces button:not(:first-child) {
  margin-left: 2pt;
}
#workspaces button.visible {
  color: #89b4fa;
}
#workspaces button.active {
  color: #f38ba8;
}
#workspaces button:hover, #workspaces button:focus {
  background: none;
  border-color: transparent;
  box-shadow: none;
}
#workspaces button:hover:not(.active):not(.visible), #workspaces button:focus:not(.active):not(.visible) {
  color: #9399b2;
}

#mpris {
  background: #1e1e2e;
  color: #a6e3a1;
  border-radius: 12pt;
  margin-left: 15pt;
  padding: 0 8pt;
}

#window {
  margin-left: 15pt;
  margin-right: 20pt;
}

#memory {
  color: #fab387;
  margin-right: 12pt;
}

#tray {
  margin-right: 10pt;
}
#tray menu {
  background: #1e1e2e;
  padding: 2pt;
}
#tray menu * {
  margin: 2pt;
}
#tray menu check {
  margin-right: 4pt;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #cdd6f4;
  }
}

#pulseaudio {
  color: #74c7ec;
  margin-right: 10pt;
}

